<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Nanopay", suffix: " · Nanopay" %>
    <link
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/app.css")}
      phx-track-static />
    <script
      src={Routes.static_path(@conn, "/assets/app.js")}
      defer
      phx-track-static></script>
  </head>
  <body class="h-full text-slate-100 bg-slate-800">
    <%= @inner_content %>
  </body>
</html>
