<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Nanopay", suffix: " · Nanopay" %>
    <link
      rel="icon"
      href={Routes.static_path(@conn, "/images/favicon.png")} />
    <link
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/app.css")}
      phx-track-static />
    <script
      src={Routes.static_path(@conn, "/assets/app.js")}
      defer
      phx-track-static></script>
  </head>
  <body class="h-full text-slate-100 bg-slate-800">
    <div class="h-full flex flex-col">
      <div class="flex-auto flex flex-col justify-center p-4">
        <%= @inner_content %>
      </div>

      <footer class="p-4 bg-slate-900">
        <p class="text-xs sm:text-sm font-normal leading-normal text-center">
          Coming soon.
          A <a href="https://www.chronoslabs.net" class="text-blue-300 hover:text-pink-400 font-semibold transition-colors">Chronos Labs</a> product.
          Read the <a href="https://nanopay.substack.com" class="text-blue-300 hover:text-pink-400 font-semibold transition-colors">Substack</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
